<div>
  <h1 class="welcome-title">Welcome to the APTCO AI Starter for Angular!</h1>
  <atp-card>
    <atp-card-header slot="header">Example card from Lift Design System</atp-card-header>
    <div class="card-content">
      <atp-icon icon="circle-check"></atp-icon>
      <span>This is an example of using a Lift Design System card component. It also includes a Lift button.</span>
    </div>
    <atp-card-footer slot="footer">
      <atp-button label="Button"></atp-button>
    </atp-card-footer>
  </atp-card>
</div>
